{% extends 'base.html' %}
{% load static %}
{% load tags %}


{% block content %}
    <div class="form-group row">
        <div class="col-md-2 col-xs-0"></div>
        <div class="col-md-8 col-xs-12 well">
            <form action="{% url 'solve' %}" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend>AG settings</legend>
                    {{ form.as_p }}
                </fieldset>
                <button type="submit" class="btn btn btn-default pull-right">
                    Find a solution <span class="glyphicon glyphicon-search"></span>
                </button>
                {% if iterations >= 0 %}
                    <button type="button" class="btn btn-primary pull-left" data-toggle="modal" data-target="#resultsModal">
                      Show results
                    </button>
                {% endif %}
            </form>
        </div>
        <div class="col-md-2 col-xs-0"></div>
    </div>
    {% if iterations >= 0 %}

        <!-- Modal -->
        <div class="modal fade" id="resultsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    Results summary
                </h4>
              </div>
              <div class="modal-body">
                    <div class="row">
                        <h5 class="text-center col-md-12 col-xs-12">
                            with {{ iterations }} iterations, the maximum reached fitness was {{ candidate_solution.fitness }}
                            for solution {{ candidate_solution }}
                        </h5>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12 btn-group-vertical">
                            <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#chess_board">
                                Show chessboard with highest fitness <span class="glyphicon glyphicon-arrow-down"></span>
                            </button>
                            <table id="chess_board" cellpadding="0" cellspacing="0" class="collapse text-center">
                                {% for i in n_queens %}
                                    <tr>
                                        {% for j in n_queens %}
                                            <td>
                                                {% if i == candidate_solution|index:j %}&#9812;{% endif %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>
                            <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#mean_high_plot_img">
                                Mean vs Highest fitness vs Generations <span class="glyphicon glyphicon-arrow-down"></span>
                            </button>
                            <img class="col-xs-12 col-md-12 collapse" id="mean_high_plot_img" src="data:image/png;base64, {{ mean_high_plot }}">

                        </div>
                    </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    {% endif %}

{% endblock %}