{% extends 'base.html' %}

{% block content %}
    <div class="form-group row">
        <div class="col-md-2 col-xs-0"></div>
        <div class="col-md-8 col-xs-12 well">
            <form action="{% url 'solve' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn btn-default pull-right">
                    Find a solution <span class="glyphicon glyphicon-search"></span>
                </button>
            </form>
        </div>
        <div class="col-md-2 col-xs-0"></div>
    </div>
{% endblock %}