{% extends 'base.html' %}
{% load static %}
{% load tags %}

{% block title %} Bioinspired {% endblock %}
{% block appname %} Bioinspired {% endblock %}

{% block content %}
    <div class="col-md-3 col-xs-3"></div>
    <div class="col-md-6 col-xs-6 btn-group-vertical">
        <a href="{% url 'index_queens' %}" class="btn btn-lg btn-primary">The nqueens problem</a>
        <a href="{% url 'index_ackley' %}" class="btn btn-lg btn-primary">The ackley minimization problem</a>
    </div>
    <div class="col-md-3 col-xs-3"></div>
{% endblock %}